.v-application {
  background: $white !important;
  font: #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-weight: 300;
}

.block {
  padding: 60px 0;
  border-bottom: 1px solid darken($white, 10%);

  h2 {
    font-size: 30px;
    padding: 0 0 10px;
    margin: 0 0 40px;
    position: relative;

    &:after {
      content: '';
      background: $black;
      width: 60px;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}