header {
  .v-toolbar__title {
    font-weight: 600;
    text-transform: uppercase;
  }
}

.mainHeader {
  .v-toolbar__items {
    .v-btn__content {
      a {
        color: $black;
      }
    }
  }
}